<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Freddy's BBQ Joint - Menu</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel='stylesheet' href='/webjars/bootstrap/5.3.2/css/bootstrap.min.css'>
</head>

<body>
  <h1>Welcome to Freddy's BBQ Joint</h1>
</body>

<a href="/orders">Order some</a>

<div class="alert alert-warning" role="alert" th:if="${#lists.isEmpty(menuItems)}">
  Oh f***, our menu is empty. Ask Freddy to put something on!
</div>

<tr th:each="menuItem: ${menuItems}">
  <td th:text="${menuItem.id}" />
  <td th:text="${menuItem.name}" />
</tr>

</html>