<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Freddy's BBQ Joint - Order Placed!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel='stylesheet' href='/webjars/bootstrap/5.3.2/css/bootstrap.min.css'>
</head>

<body>
  <h1>Welcome to Freddy's BBQ Joint</h1>
</body>

<div class="alert alert-warning" role="alert">
  We got it! <span th:text="${orderForm.name}"></span>
</div>

<span th:if="${orderPlaced.drink}">
  <span th:text="${orderPlaced.drink.name}"></span>
</span>

</html>